In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Owando,CG,2022-07-14 18:31:02,-0.4819,15.8999,83.08,43,96,1.41
1,1,Rikitea,PF,2022-07-14 18:31:03,-23.1203,-134.9692,66.42,83,100,7.65
2,2,Paamiut,GL,2022-07-14 18:31:03,61.9940,-49.6678,44.08,87,100,5.30
3,3,Salalah,OM,2022-07-14 18:28:11,17.0151,54.0924,77.79,92,86,5.28
4,4,Ostrovnoy,RU,2022-07-14 18:31:03,68.0531,39.5131,61.29,91,100,11.52

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=
                                 [max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
display(fig)

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Owando,CG,2022-07-14 18:31:02,-0.4819,15.8999,83.08,43,96,1.41
3,3,Salalah,OM,2022-07-14 18:28:11,17.0151,54.0924,77.79,92,86,5.28
9,9,Hami,CN,2022-07-14 18:31:05,42.8000,93.4500,78.55,21,9,7.11
11,11,Jamestown,US,2022-07-14 18:26:37,42.0970,-79.2353,76.01,51,20,6.91
12,12,Kapaa,US,2022-07-14 18:31:06,22.0752,-159.3190,80.58,86,75,11.50
15,15,Kavieng,PG,2022-07-14 18:31:06,-2.5744,150.7967,81.39,78,100,16.28
20,20,Mitsamiouli,KM,2022-07-14 18:31:08,-11.3847,43.2844,77.29,65,20,9.22
22,22,Arraial Do Cabo,BR,2022-07-14 18:31:08,-22.9661,-42.0278,78.76,78,0,16.11
26,26,Butaritari,KI,2022-07-14 18:31:09,3.0707,172.7902,81.68,81,79,16.91
31,31,Santa Cruz,BO,2022-07-14 18:31:11,-17.8000,-63.1667,80.06,65,75,28.77

In [15]:
preferred_cities_df.count()
#it is a good idea to keep the number of cities to fewer than 200 to make it easier to plot the markers on the heat map
#it says we might have to adjust minimum and maximum temp to get enough cities so I am changing my values to 75 and 85
#if we had rows with null values, we'd need to drop them using the dropna() method at the end of the filtering statement 
#when creating a new DataFrame

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Owando      CG     83.08  -0.4819   15.8999
3           Salalah      OM     77.79  17.0151   54.0924
9              Hami      CN     78.55  42.8000   93.4500
11        Jamestown      US     76.01  42.0970  -79.2353
12            Kapaa      US     80.58  22.0752 -159.3190
15          Kavieng      PG     81.39  -2.5744  150.7967
20      Mitsamiouli      KM     77.29 -11.3847   43.2844
22  Arraial Do Cabo      BR     78.76 -22.9661  -42.0278
26       Butaritari      KI     81.68   3.0707  172.7902
31       Santa Cruz      BO     80.06 -17.8000  -63.1667

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Owando,CG,83.08,-0.4819,15.8999,Exaunel Hotel Owando
3,Salalah,OM,77.79,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
9,Hami,CN,78.55,42.8000,93.4500,Laoyutang Resort
11,Jamestown,US,76.01,42.0970,-79.2353,Hampton Inn & Suites Jamestown
12,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]